/* colors

Windows 95 hex color codes:

blue: #02a5ff
red: #ff3300
green: #66cc33
yellow: #ffcc00

Rose Petal color codes:

crushed-berry: #880d1e
raspberry: #dd2d4a
bubblegum-pink: #f26a8d
pink-mist: #f49cbb
light-cyan: #cbeef3


*/

